include ../../news/news-card/news-card.pug

mixin home-news
  section.section-home-news
    .container
      .home-news
        .home-news__list
          .swiper-container(data-swiper="homenews")
            .swiper-wrapper
              each item in app.news 
                .swiper-slide
                  .home-news__item: +news-card(item)

