include ../../news/news-card/news-card.pug

mixin home-news
  section.section-home-news
    .container
      .home-news
        .home-news__list  
          each item in app.news  
            .home-news__item: +news-card(item)

