.section-home-news {
    @include section-padding;

    padding-top: rem(40)
}

.home-news {
    &__list {
        @include row-flex;
    }

    &__item {
        @include col();
        @include size-w1280(4);
        @include size-w760(6);
        @include size(12);
    }
}