mixin home-clients ()
  section.section-home-clients 
    .container
      .home-clients
        .home-clients__title Наши клиенты
        .home-clients__list
          .swiper-container(data-swiper="clients")
            .swiper-wrapper
              each item in app.clients
                .swiper-slide
                  .home-clients__item
                    a(href=item.link): +bgimage(item.img)