include ../news-card/news-card.pug

mixin news-details()
  section.section-news-details
    .news-details
      .news-details__main
        .news-details__date
        .news-details__text
          article.formated-text
            img(src="./img/home/news/n3.jpg")
            p В турецкой Анталье российские сборные вышли в стадию плей-офф турниров юниорских командных чемпионатов мира - «Кубка Дэвиса» и «Кубка Билли Джин Кинг».
            p После завершения первого этапа финальных турниров круг претендентов на трофеи сократился в два раза. На обоих соревнованиях по две сильнейших сборных из каждой группы вышли в стадию плей-офф и продолжают борьбу. Среди претендентов на победу и обе российские команды.
            p В юниорском «Кубке Дэвиса» сборная России (Ярослав Дёмин, Максим Жуков – на фото, Данил Панарин) стартовала неудачно, уступив соперникам из Мексики со счетом 1:2. Но затем наши ребята добились побед в матчах со сборными Болгарии и Туниса. В четвертьфинале соперниками россиян будут канадцы.
            p А вот российские девушки (Анастасия Гурьева, Елена Приданкина и Ярослава Бартошевич) в финальном турнире юниорского «Кубка Билли Джин Кинг» не стали искушать судьбу и на групповом этапе уверенно победили всех соперниц – команды Мексики, Гонконга и Таиланда. За выход в полуфинал россиянки будут соперничать с представительницами той же Канады.
            p Турнир завершится 3 октября.

            a(href='#') link
            strong strong
            em italic

            h1 Заголовок H1
            h2 Заголовок H2
            h3 Заголовок H3
            h4 Заголовок H4
            h5 Заголовок H5
            h6 Заголовок H6

            ul
              li list marker
              li list marker
              li list marker

            ol
              li list number
              li list number
              li list number

      .news-details__aside
        each item, index in app.news
          if (index < 2)
            +news-card(item)
