mixin first-block ()
  section.section-first-block.animate.fadein
    .container
      .first-block
        .first-block__bg: +bgimage('./img/home/banner.jpg')
        .first-block__content
          .container.animate.fadein
            .first-block__title: h1 II открытый чемпионат Беларуси по теннису среди сеньоров
            .first-block__desc Место проведения: теннисный центр «Лида Драйв Плюс», г. Лида , микрорайон Молодежный , пер. Фомичева

            .first-block__btn
              a(href='#'): button.btn Подробнее



