header {
    &.open {
        position: relative;
        z-index: 10;

        & .header__mobile {

            z-index: 12;
            margin-left: auto;

            & .burger {
                position: relative;
                top: -30px;
            }

            & span {
                display: none;
            }
        }
    }
}

.header {

    display: flex;
    align-items: center;
    padding: 25px 0;



    &__logo {
        width: 100%;
        max-width: 180px;

        & .bgimage {
            padding-top: 62%;
            @include bgimage-contain;
        }

        @media screen and (max-width: $w1440) {
            max-width: 132px;
        }

        @media screen and (max-width: $w360) {
            max-width: 100px;
        }
    }

    &__main {
        margin-left: auto;

        @media screen and (max-width: $w760) {
            &.open {
                position: fixed;
                z-index: 9;
                background: #fff;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: #242424;
                display: none;
                overflow-y: scroll;
                padding: rem(80) rem(25) rem(60) rem(25);
                animation: slide-Y 0.3s ease forwards;
                display: flex;
                flex-direction: column-reverse;

                & .header__nav {
                    display: block;
                }

                & .header__nav ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }

                & .header__nav li {
                    padding-bottom: 30px;


                    & a {
                        font-size: 20px;
                        margin-left: 0;
                    }
                }

                & .header__msgr ul {
                    justify-content: center;
                }
            }
        }

        @media screen and (max-width: $w480) {
            display: none;
        }


    }

    &__nav {
        flex-grow: 1;
        align-items: center;
        display: flex;

        @media screen and (max-width: $w760) {
            display: none;
        }

        & ul {
            display: flex;

            & li {
                & a {
                    display: inline-block;
                    margin-left: rem(58);
                    font-size: 15px;
                    letter-spacing: 0.1em;
                    color: $black;
                    position: relative;

                    font-weight: 300;

                    @media screen and (max-width: $w1440) {
                        font-size: 13px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 0;
                        bottom: 0;
                        height: 1px;
                        background-color: $main;
                        transition: 0.4s ease;
                    }

                    &.active,
                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }

                    @media screen and (max-width: $w1660) {
                        margin-left: rem(30);
                    }

                }
            }
        }
    }

    &__mobile {


        display: flex;
        align-items: center;
        padding-left: 18px;

        &>span {
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
            margin-right: 10px;
        }

        & .burger i {
            background-color: $main;
        }


        @media screen and (min-width: $w760) {
            display: none;
        }

        @media screen and (max-width: $w480) {
            height: 60px;
            order: 1;
            margin-right: 0;
            margin-left: auto;


        }


    }

    &__msgr {
        & ul {
            display: flex;
            align-items: center;
            margin-left: auto;
            justify-content: flex-end;
            padding-bottom: rem(20);

            @media screen and (max-width: $w760) {
                padding-bottom: rem(0);
            }


            & li {
                padding: 0 rem(5);

                & a {
                    width: rem(40);
                    height: rem(40);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $main;
                    border-radius: 50%;

                    transition: box-shadow 0.5s ease;

                    &:hover {
                        box-shadow: 0 0 6px 0px $main;
                    }

                    & svg {
                        width: rem(18);
                        min-width: rem(18);
                        height: rem(18);
                        fill: #000;
                    }
                }
            }
        }
    }
}