- 
  const app = {

    mainMenu: [
      {  'text': 'Главная', 'href': 'catalog.html',  },
      {  'text': 'Фото', 'href': 'shop.html',  },
      {  'text': 'Рейтинг', 'href': 'rent.html',  },
      {  'text': 'Лиги', 'href': '#',  },
      {  'text': 'Турниры', 'href': 'about.html',  },
      {  'text': 'Тренера', 'href': 'about.html',  },
      {  'text': 'Новости', 'href': 'about.html',  },
    ],



    //logo clients
    clients: [
      {'link': '#client', 'img':'/img/home/clients/Rectangle10.png'},
      {'link': '#client', 'img':'/img/home/clients/Rectangle11.png'},
      {'link': '#client', 'img':'/img/home/clients/Rectangle12.png'},
      {'link': '#client', 'img':'/img/home/clients/Rectangle13.png'},
      {'link': '#client', 'img':'/img/home/clients/Rectangle10.png'},
      {'link': '#client', 'img':'/img/home/clients/Rectangle11.png'},
      {'link': '#client', 'img':'/img/home/clients/Rectangle12.png'},
      {'link': '#client', 'img':'/img/home/clients/Rectangle13.png'},

    ],

    news: [
      {
        image:'../img/home/news/n2.jpg',
        date: ['25','09','2021'],
        title:'Турнир на призы Александры Саснович | Итоговые сетки турнира',
        desc:'Сегодня в Нур-Султане завершается квалификация одиночного разряда престижного женского международного турнира ASTANA OPEN категории WTA 250 с призовым фондом $235,238.',
      },
      {
        image:'../img/home/news/n4.jpg',
        date: ['19','09','2021'],
        title:'Открытое первенство СДЮШОР по теннису | Итоговые сетки турнира',
        desc:'В Нью Йорке проходит заключительный в этом году турнир серии "Большого Шлема" Открытый чемпионат США по теннису US Open.',
      },
      {
        image:'../img/home/news/n5.jpg',
        date: ['10','09','2021'],
        title:'Кристина Дмитрук стала финалисткой одиночного разряда',
        desc:'В Нью-Йорке проходит заключительный в этом году турнир серии "Большого Шлема" Открытый чемпионат США по теннису US Open',
      },
    ],

    tourney: [
      {
        image:'/img/home/t1.jpg',
        date: '18.06 - 20.06, 2021',
        category: 'Дети 8-10 лет',
        title:'«Петруха CUP» 2021',
        desc:'Корты ГУ "Могилевский городской ФСК", г. Могилев, ул. Сурганова 46.',
      },
      {
        image:'/img/home/t2.jpg',
        date: '18.06 - 20.06, 2021',
        category: 'Мужчины, женщины от 18 лет',
        title:'Kosmos Kort Open: «Зима-2021»',
        desc:'Корты ГУ "Могилевский городской ФСК", г. Могилев, ул. Сурганова 46.',
      },
      {
        image:'/img/home/t3.jpg',
        date: '18.06 - 20.06, 2021',
        category: 'Мужчины, женщины, дети (8-10,12)',
        title:'Family CUP Mogilev',
        desc:'Корты ГУ "Могилевский городской ФСК", г. Могилев, ул. Сурганова 46.',
      },

    ],

    gallery: [
      {thumb: '/img/home/Rectangle27.jpg'},
      {thumb: '/img/home/Rectangle29.jpg'},
      {thumb: '/img/home/Rectangle31.jpg'},
      {thumb: '/img/home/Rectangle28.jpg'},
      {thumb: '/img/home/Rectangle30.jpg'},
      {thumb: '/img/home/Rectangle32.jpg'},
    ]





  };








