.swiper-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: -30px;
    right: -30px;
    height: 0;
    margin-top: -9px;

    & svg {
        fill: #aaa;
        opacity: 0.5;
    }

    &__prev,
    &__next {

        cursor: pointer;

        &:hover {
            & svg {
                opacity: 0.8;
            }
        }

    }


    &__prev {}

    &__next {}

    @media screen and (max-width: $w580) {

        .swiper-nav__next,
        .swiper-nav__prev {
            opacity: 1 !important;
            transform: none !important;
        }
    }
}

.page {
    &__title {
        padding-bottom: rem(25);

        &--news {
            max-width: 910px;
        }
    }



    &__breadcrumbs {
        padding-bottom: rem(20);

        &--news {
            max-width: 910px;
        }
    }
}