/* ============================================================
	Manrope
============================================================*/


@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Monrope/Manrope-Bold.eot');
	src: local('Manrope Bold'), local('Manrope-Bold'),
		url('/fonts/Monrope/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Monrope/Manrope-Bold.woff2') format('woff2'),
		url('/fonts/Monrope/Manrope-Bold.woff') format('woff'),
		url('/fonts/Monrope/Manrope-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Monrope/Manrope-Semibold.eot');
	src: local('Manrope Semibold'), local('Manrope-Semibold'),
		url('/fonts/Monrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Monrope/Manrope-Semibold.woff2') format('woff2'),
		url('/fonts/Monrope/Manrope-Semibold.woff') format('woff'),
		url('/fonts/Monrope/Manrope-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Monrope/Manrope-Regular.eot');
	src: local('Manrope Regular'), local('Manrope-Regular'),
		url('/fonts/Monrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Monrope/Manrope-Regular.woff2') format('woff2'),
		url('/fonts/Monrope/Manrope-Regular.woff') format('woff'),
		url('/fonts/Monrope/Manrope-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Monrope/Manrope-Light.eot');
	src: local('Manrope Light'), local('Manrope-Light'),
		url('/fonts/Monrope/Manrope-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Monrope/Manrope-Light.woff2') format('woff2'),
		url('/fonts/Monrope/Manrope-Light.woff') format('woff'),
		url('/fonts/Monrope/Manrope-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;

}

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Monrope/Manrope-Thin.eot');
//     src: local('Manrope Thin'), local('Manrope-Thin'),
//         url('/fonts/Monrope/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/Monrope/Manrope-Thin.woff2') format('woff2'),
//         url('/fonts/Monrope/Manrope-Thin.woff') format('woff'),
//         url('/fonts/Monrope/Manrope-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
//font-display: swap;

// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Monrope/Manrope-Medium.eot');
//     src: local('Manrope Medium'), local('Manrope-Medium'),
//         url('/fonts/Monrope/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/Monrope/Manrope-Medium.woff2') format('woff2'),
//         url('/fonts/Monrope/Manrope-Medium.woff') format('woff'),
//         url('/fonts/Monrope/Manrope-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//font-display: swap;

// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Monrope/Manrope-ExtraBold.eot');
//     src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
//         url('/fonts/Monrope/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/Monrope/Manrope-ExtraBold.woff2') format('woff2'),
//         url('/fonts/Monrope/Manrope-ExtraBold.woff') format('woff'),
//         url('/fonts/Monrope/Manrope-ExtraBold.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
//font-display: swap;

// }